appdirs==1.4.4
astroid==2.4.2
autopep8==1.5.4
certifi==2020.12.5
click==7.1.2
decorator==4.4.2
distlib==0.3.2
dlib==19.21.1
filelock==3.0.12
Flask==1.1.2
imutils==0.5.4
isort==5.6.4
itsdangerous==1.1.0
jellyfish==0.8.2
Jinja2==2.11.3
joblib==1.0.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
networkx==2.5.1
nltk==3.6.2
numpy==1.20.1
opencv-python==4.5.1.48
pipenv==2021.5.29
pycodestyle==2.6.0
pylint==2.6.0
regex==2021.4.4
segtok==1.5.10
six==1.15.0
tabulate==0.8.9
toml==0.10.2
tqdm==4.61.0
virtualenv==20.4.7
virtualenv-clone==0.5.4
Werkzeug==1.0.1
wrapt==1.12.1
yake==0.4.8
