html, body {
    background-color: #191919;
}
/* 
.container {
    background-color: #353333;
} */

.title {
    color: white;
}

.sentence-holder {
    background-color: #353333;
    padding-bottom: 15px;
}

.td {
    font-size: 13pt;
    font-family: 'IBM Plex Serif', thin;
}

.th {
    font-family: 'Montserrat', sans-serif;
    
}

#myTable {
    color: white;
    background-color: #353333;
}