<!DOCTYPE html>
<html>

<head>
    <title>Interesting Words</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../static/styles.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../static/script.js"></script>
</head>

<body>
    <div class="header">
        <h2 class="title">
            Interesting Word Analyzer
        </h2>
    </div>

    <!-- <form action="/contact" method="POST">
        <textarea type="text" name="msg"></textarea>
        <label>Message</label>
        <button type="submit" class="button buttonBlue">
            Submit
        </button>
    </form>

    <div class="navbar">
        <p>{{keyword}}</p>
        <div class="menu-list">
            <div class="table">
                <ul class="horizontal-list">
                    <li>
                        <a class="link1" href="#header-box">Home</a>
                    </li>
                    <li>
                        <a class="link1" href="#about-patrick">Patrick</a>
                    </li>
                    <li>
                        <a class="link1" href="#projects-pane">Projects</a>
                    </li>
                    <li><a class="link1" href="#personal-links">Resume</a></li>
                    <li>
                        <a class="link1" href="#personal-links">Connect</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    <div class="container">
        <table class="table table-bordered" id="myTable">
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Frequency</th>
                    <th>Documents Containing Word</th>
                    <th>Sentences Containing Word</th>

                </tr>
            </thead>
            {% autoescape false %}
            <tbody id="mydata">
                {%for data in output%}
                <tr>
                    <td>{{data.Word}}</td>
                    <td>{{data.Frequency}}</td>
                    <td>{{data.Document}}</td>
                    <td class="holder" colspan="2">
                        {%for j in data.Sentence%}
                        <div class="sentence-holder">
                            {{j}}
                        </div>
                        {%endfor%}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
            {% endautoescape %}
        </table>
    </div>
</body>

</html>